/*default Css Start Here*/
body, p, ul, li{margin:0px;padding:0; }
body{
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{text-decoration: none;}
a:hover{text-decoration: none!important;}
li{list-style: none;}

h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif!important ;
}
/*default Css End Here*/

/*Navbar Codes Start From Here*/
.custom-navbar{
    padding: 10px;
    background: #343a40;
}
.logo a{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.menu-icon li a i{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50px;
    transition: .5s;
}
.menu-icon{
    padding-top: 8px;
    margin-left: 32px;
}
.menu-icon li a i:hover{
    background: #611787;
    color: #fff;
}
.menu-icon li{
}

.status-indicator-bx img{
    width: 30px;
    border-radius: 50px;
}
.searchbx input{
    width: 87%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding-left: 40px;
    outline: none;
}

.searchbx{
    width: 87%;
    height: 40px;
    position: relative;
}

.searchbx .ri-search-line{
    position: absolute;
    left: 25px;
    top: 12px;
    font-size: 17px;
    color: #0000006e;
}
.prfl-bx{
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
}
.prfl-bx li{
    margin: 5px 0px;
    position: relative;
    /* padding: 0px; */
}
.status{
    display: flex;
    align-items: center;
}

.nortification-bx a i{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50px;
    transition: .5s;
}
.nortification-bx a i:hover{
    background: #611787;
    color: #ffffff;
}
.status span{
    font-size: 16px;
    color: #ffffff;
    margin-left: 5px;
}
.searchbx .ri-equalizer-fill{
    position: absolute;
    right: 20%;
    top: 13px;
    font-size: 17px;
    color: #0000006e;
}
.before{
    position: relative;
}
.before:before{
    content:'0';
    height: 17px;
    width: 17px;
    font-size: 14px;
    background: #611787;
    right: -3px;
    top: -9px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
    border-radius: 50px;
    position: absolute;
}

.count{
    position: relative;
}
.count:before{
    content:'4';
    height: 17px;
    width: 17px;
    font-size: 14px;
    background: #611787;
    right: -2px;
    top: -13px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
    border-radius: 50px;
    position: absolute;
}

.status{
    padding: 4px 10px;
    border-radius: 50px;
    transition: .7s;
}
.status:hover{
    background: #611787;
}
.status:hover span{color: #ffffff;}
.bx3{
    display: flex;
    padding-top: 54px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bx3  div{
    width: calc(50% - 10px);
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 28px;
}
.bx3  div h2{
    background: #343a40;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 17px;
}

.bx3 div i{
    font-size: 55px;
    color: #611787;
    padding-bottom: 14px;
    padding-top: 26px;
    display: block;
}
.bx3 div:hover{
    background: #f5f5f5;
}
.bx3 div:hover h2{
   background:#611787;
}

.prfl-bx1 a{
    color: black;
}

/*personal information css start here*/

.personal-section{
    max-width: 900px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    background: #f5f5f5;
    margin-top: 49px;
}

.edit-header h2{
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: #00000094;
    border-left: 4px solid #611787;
}

.pro-menu li a{
    color: #555252;
    font-size: 16px;
    font-weight: 500;
}

.pro-menu{
    padding: 25px;
}
.pro-menu li{
    margin: 18px 0px;
}

.pro-menu li a{
    transition: 1s;
}
.pro-menu li a:hover{
    color: #b21bb3;
}

.btn-bx{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 29px;
}

.edit-btn{
    padding: 2px 15px;
    background: #b21bb3;
    border: none;
    color: white;
    border-radius: 4px;
}

/*.active{
    color: #b21bb3!important;
}*/

/*dashboard css start here*/
.w-100 span:first-child{
    height: 35px;
    width: 35px;
    padding: 11px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-right: 10px!important;
    align-items: center;
    background: #2a2d3a;
    border-radius: 50px;
    color: white;
}
.list-group-item-action{
    color: white!important;
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: #611787!important;
}
a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover .w-100 span:first-child{
    background: white;
} 
.logo a img{/* padding: 16px; */padding-left: 0px;padding-bottom: 7px;padding-top: 5px;width: 261px;}

.ri-whatsapp-fill{
    color: #25d366!important;
}

ul.prfl-panel {
    position: absolute;
    display: none;
    top: 40px;
    right: -4px;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 224px;
    background: white;
    margin: 0;
    /* padding: 10px; */
    border-radius: 7px;
}

.prfl-panel li{
    margin: 10px 0px!important;
    padding: 4px 15px;
}

.prfl-panel li a{
    display: flex;
    align-items: center;
    color: #1f2937;
}
.prfl-panel li a i{
    margin-right: 10px;
    font-size: 17px;
    color: #1f2937;
}

.prfl-panel li:hover{
    background:#f5f5f5;
}

/*Main page css start from here*/

.mainbx{
    background: #ffffff;
    height: 100vh;
    padding-left: 0;
}

/*header css */



.page-title {
    position: relative;
    font-size: 20px;
    padding-bottom: 15px;
}

.fw-normal {
    font-weight: 397!important;
    font-size: 16px;
}

.page-header{
    background: white;
    padding: 8px 18px 2px 15px;
    box-shadow: rgb(198 195 195 / 21%) 0px 4px 6px;
}

.py-2 {
    padding-top: 0.625rem!important;
    padding-bottom: 0.625rem!important;
}

.breadcrumb {
    
    display: flex;
    flex-wrap: wrap;
    padding: var(--breadcrumb-padding-y) var(--breadcrumb-padding-x);
    margin-bottom: var(--breadcrumb-margin-bottom);
    font-size: var(--breadcrumb-font-size);
    list-style: none;
    background-color: var(--breadcrumb-bg);
    border-radius: var(--breadcrumb-border-radius);
}

.breadcrumb a{
    color: black;
}
.border-top {
    border-top: 1px solid #ddd;
}

.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}
.page-header-content{
    display: flex;
    justify-content: space-between;
}

.setting i{
     margin-top: 2px;
    margin-right: 6px;
    font-size: 19px;
}

.nav li{
    margin: 0px 10px;
}

.nav li a{
    display: inline-flex;
    color: black;
}
.nav li a i{
    margin-right: 6px;
}
footer{
    background: #343a40;
    text-align: center;
}

#submenu2{
    text-align: center;
}
#submenu1{
    text-align: center;
}

.nav-pills .nav-link {
    color: #555252!important;
    font-size: 18px!important;
    /* text-transform: lowercase; */
    font-weight: 500!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #611787!important;
    background: none!important;
}
.edit-header{
    display: flex;
    justify-content: space-between;
}

.email-tabbx img{
    width: 200px;
    margin: auto;
    display: block;
}
.email-verify{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
.unemail{
    text-align: center;
    padding: 3px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.unemail i{
    height: 40px;
    width: 40px;
    background: #611787;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px;
}
.unverify-text{
    font-size: 14px;
    color: red;
}
.veriembx{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 24px;
}

.veriembx button{
    border: none;
    padding: 4px 8px;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    background: #611787;
    border-radius: 50px;
}

.add-btn{
     padding: 5px 70px;
     border: none;
     border-radius: 50px;
     color: white;
     margin: 42px auto;
     color: whie;
     display: block;
     font-size: 15px;
     background: #b21bb3;
}
.width{
    width: 65px;
}
.message{
    text-align: center;
}
i.ri-edit-2-fill {
    height: 30px;
    align-items: center;
    display: flex;
    width: 30px;
    color: #615b5b;
    background: #bbbec4bf;
    border-radius: 50px;
    padding: 7px;
}
@media(max-width: 1600px){

}
@media(max-width: 1480px){
    
}
@media(max-width: 1366px){
    
}
@media(max-width: 1280px){
    
}

@media(max-width: 991px){
    
}

@media(max-width: 768px){
    
}

@media(max-width: 320px){
    
}

.personal-section1{
    padding: 20px;
    padding-bottom: 20px!important;
    padding-top: 34px!important;
    border-radius: 10px;
    padding-bottom: 0!important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 6px 2px;
}

.edit-btn1 {
    padding: 4px 26px;
    font-size: 14px;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    display: table;
    margin-top: 15px!important;
    margin: auto;
    background: #611787;
    border: 1px solid #611787 !important;
    /*clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);*/
    box-shadow: inset 0 0 0 1px white;
}

.days{
    text-align: center;
    margin: 0;
    margin-top: -15px;
    font-size: 13px;
    color: #717171;
    padding: 0px;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/


/*tooltip css*/

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

}
.popup:hover .popuptext{
    visibility: visible;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  bottom: 123%;
  right: -50%;
  /* margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*login page css*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


/*login page css*/

.btn1{
    background: #3b5998;
    color: white;
    border: none;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    height: 29px;
    width: 29px;
    padding: 5px;
}
.submit-btn{
        padding: 4px 30px;
        border: none;
        width: 100%;
        color: white;
        background: #611787;
        border-radius: 50px;
}
.link-danger{
    color: red;
}
.text-body{
    color: black;
}
.sign-in{
    font-size: 25px;
}
.wlcm{
        padding-bottom: 17px;
    font-size: 16px;
    color: grey;
}
.login-logo img{
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text{
   font-size: 16px!important;
}
.privacy{
        font-size: 14px;
    color: grey;
}
.privacy span{
    color: #611787;
}
.leftbx{
    background: #611787;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftbx img{
    width: 600px;
}
.rightbx{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;
    /* display: flex; */
    padding: 35px;
    /* padding-top: 27px; */
    justify-content: center;
    width: 100%;
    align-items: center;
}

.rightbx1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;
    /* display: flex; */
    padding: 26px;
    /* padding-top: 65px; */
    justify-content: center;
    width: 100%;
    align-items: center;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
.google{
  background: #e72734!important;
}
.twitter{
  background: #1da0f2!important;
}
.facebook{
  background: #3b5998!important;
}
.border1{
        border-right: 1px solid #ddd;
}

.personal-section2 {
    padding: 17px;
    padding-bottom: 20px!important;
    max-width: 900px;
    border-radius: 10px;
    padding-bottom: 0!important;
    padding-top: 27px!important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 6px 2px;
}


/*choose file css*/

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}*/
.form-container {
  width: 100vw;
  height: 100vh;
  background-color: #7b2cbf;
  display: flex;
    justify-content: center;
  align-items: center;
}
.upload-files-container {
  background-color: #ffffff;
  width: auto;
  padding: 8px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px; */
}
.drag-file-area {
  border: 2px dashed #611787;
  border-radius: 8px;
  padding-top: 10px;
  margin: 10px 0 15px;
  padding: 1px 7px;
  text-align: center;
}
.drag-file-area .upload-icon {
  font-size: 31px;
  padding-top: 20px;
}
.drag-file-area h3 {
  font-size: 16px;
  margin: 15px 0;
}
.drag-file-area label {
  font-size: 16px;
  max-width: 143px;
}
.drag-file-area label .browse-files-text {
  color: #611787;
  font-weight: bolder;
  cursor: pointer;
}
.browse-files span {
  position: relative;
  top: -25px;
}
.default-file-input {
  opacity: 0;
}
.cannot-upload-message {
  background-color: #ffc6c4;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  color: #BB0000;
  display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
  padding-right: 10px;
}
.cannot-upload-message span:last-child {
  padding-left: 20px;
  cursor: pointer;
}
.file-block {
  color: #f7fff7;
  background-color: #7b2cbf;
    transition: all 1s;
  width: 390px;
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.file-info {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.file-icon {
  margin-right: 10px;
}
.file-name, .file-size {
  padding: 0 3px;
}
.remove-file-icon {
  cursor: pointer;
}
.progress-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 4.5%;
  width: 0;
  height: 5px;
  border-radius: 25px;
  background-color: #4BB543;
}
.upload-button {
  font-family: 'Montserrat';
  background-color: #611787;
  color: #f7fff7;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  margin: 24px 5px;
  padding: 2.5px 27px;
  cursor: pointer;
}

.update-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbx .drop{
    display: flex;
   
}
.mdry{
    color: red;
}

.main-searchbx{
  display: flex;
    align-items: center;
    padding: 19px;
    border-top: 0;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #ddd;
}
.main-searchbx input {
    border: 1px solid #dddd;
    padding: 4px;
    border-radius: 4px;
}
.m-left{
    margin-left: 12px;
    color: grey;
}
.m-left span{
    margin-left: 5px;
}
.col-sm-2.choose-drop select {
    padding: 5px 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.m-l{
    margin-left: 50px;
}
.add-text{
    display: flex;
    align-items: center;
}
.add-text i{
    margin-right: 6px;
}
.registerbx{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
.reg-heading h4{
    font-size: 16px;
}


/*toggle css*/



.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  margin: 0 3rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'No';
  left: -4rem;
}
.btn-toggle:after {
  content: 'Yes';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #611787;
}
.leftbx1{
    height: 100vh;
    display: flex;
    border: 1px solid #dddd;
    align-items: center;
    justify-content: center;
}
.leftbx1 img{
    height: 100%;
}
.optional{
    color: #2a2a2a9e;
    font-size: 12px;
    margin-left: 10px;
}

.gstbx{
        margin-top: 30px;
}

.submit-btn1 {
    padding: 4px 30px;
    border: none;
    /* width: 100%; */
    color: white;
    background: #611787;
    border-radius: 50px;
}
.get-tex {
    margin-top: 21px;
    display: block;
}
.edit-header h2 a{
    color: #00000094;
}
.margin-t{
    margin-top: 10px;
}
.margin-t span{
    display: flex;
    align-items: center;
}
.margin-t span i{
    margin-left: 3px;
    color: grey;
}

.tooltip-inner h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner p{
    text-align: left;
    font-size: 14px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top:-145px;
    left:98px;
    display:none;
}
.tooltip-inner::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer:hover .tooltip-inner{
  display:block!important;
}

.tooltip-inner1 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -103px;
    left: 37px;
    display:none;
}
.tooltip-inner1::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer1:hover .tooltip-inner1{
  display:block!important;
}   

.tooltip-inner1 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner1 p{
    text-align: left;
    font-size: 14px;
}


.tooltip-inner2 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -122px;
    left: 95px;
    display:none;
}
.tooltip-inner2::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer2:hover .tooltip-inner2{
  display:block!important;
}   

.tooltip-inner2 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner2 p{
    text-align: left;
    font-size: 14px;
}

.tooltip-inner3 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -122px;
    left: 42px;
    display:none;
}
.tooltip-inner3::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer3:hover .tooltip-inner3{
  display:block!important;
}   

.tooltip-inner3 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner3 p{
    text-align: left;
    font-size: 14px;
}

.tooltip-inner4 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -144px;
    left: 91px;
    display:none;
}
.tooltip-inner4::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer4:hover .tooltip-inner4{
  display:block!important;
}   

.tooltip-inner4 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner4 p{
    text-align: left;
    font-size: 14px;
}


.tooltip-inner5 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -144px;
    left: 65px;
    display:none;
}
.tooltip-inner5::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer5:hover .tooltip-inner5{
  display:block!important;
}   

.tooltip-inner5 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner5 p{
    text-align: left;
    font-size: 14px;
}

.tooltip-inner6 {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -102px;
    left: 49px;
    display:none;
}
.tooltip-inner6::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer6:hover .tooltip-inner6{
  display:block!important;
}   

.tooltip-inner6 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner6 p{
    text-align: left;
    font-size: 14px;
}

/*Get taxpayer detail css code from here*/

.title{
        font-size: 16px;
}
.icon-title i{
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    color: #8d0a6b;
    font-size: 29px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
}
.m-heading{

padding-left: 11px;
}
.m-heading h4{
    font-size: 20px;
    color: #000000bd;
}
.modal-dialog {
    max-width: 70%;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}

.modal-footer {
   
display: flex;
   
justify-content: flex-start;
   
padding: 2rem;
   
padding-bottom: 1rem;
   
border-top: 1px solid #e9ecef;
}
.tax-data {
    padding-left: 50px;
}
.tax-title ul li{
    margin: 10px 0px;
}

.tax-data ul li{
    margin: 10px 0px;
}
.viewbx {
    padding-left: 2rem;
}
a.return {
    display: flex;
    align-items: center;
    background: #8d0a6b;
    width: fit-content;
    padding: 6px 10px;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
}
.table .thead-dark th {
    color: #4b4a4a;
    border-color: #91979c;
    background: #f5f5f5;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}
.spac-bottom{margin-top: 20px;padding: 0;margin-bottom: 20px;}
.return i{
    font-size: 16px;
}
.tax-list{
   display: flex;
   align-items: center;
}
.tax-list i{font-size: 19px!important;}
.gst-heading {
    font-size: 15px;
    font-weight: bold;
}
#tax-list .modal-dialog{
    max-width: 23%!important;
}
.gst-heading{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    color: #393838;
}

.gst-heading i{
    font-size: 23px;
    margin-left: 7px;
}

#tax-list .modal-title{
    font-size: 16px;
    font-weight: bold
}
.save{
    padding: 7px 19px;
    background: #611787;
    color: white;
    border: none;
    border-radius: 3px;
}
.tr-right ul{
    display: flex;
}
.tr-right ul li{
    margin: 0px 7px;
}
.crud {
    padding-top: 6px;
    border-bottom: 1px solid #ddd;
}
.list{
    display: flex;
    padding-top: 5px;
}
.list li{
    margin: 0px 10px;
    font-size: 13px;
    color: #1e1ed899;
}
.tr-right i{
    color: grey;
}
.select-taxes{
    font-size: 13px;
    font-weight: bold;
}
.select-tax-bx{
    font-size: 13px;
}



/*add bank account css start from here*/

.add-bank {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 18px;
    padding: 10px;
}

.add-headingbx h2 {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #4e4a4a;
}

.add-headingbx p {
    font-size: 14px;
    color: #555252;
}
.connect-btn {
    padding: 7px 11px;
    border: none;
    border-radius: 5px;
    background: #611787;
    color: white;
}
.add-headingbx h2 i{
    color: #611787;
    font-size: 23px;
    margin-right: 4px;
}

.tab-left{
    padding-top: 20px;
}
ul.tab-left li {
    margin: 27px 0px;
}



/*bank tab css start here*/




/* nav */
.card {
  border: none;
  border-radius: 0.5rem;
}

a.active {
  border-bottom: 2px solid #611787;
}

.nav-link {
  color: rgb(110, 110, 110);
  font-weight: 500;
}
.nav-link:hover {
  color: #55c57a;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: 600;
}

.tab-content {
  padding-bottom: 1.3rem;
}

.form-control {
  background-color: rgb(241, 243, 247);
  border: none;
}


.form-control:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2);
}


.radio input{
    margin-right: 5px;
}

.margin-t{
    margin-top: 13px;
}
.footer-btn{
     display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: 5px;
    border-top: 1px solid #e9ecef;
    padding-top: 13px;
}

#submenu3{
    text-align: center;
}

ul.item-types li {
    margin: 15px 0px;
}
.radio-opt{
    margin-left: 5px;
}



/*new  item toggle button*/

.example .btn-toggle1 {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle1 {
  margin: 0px 57px;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle1:focus,
.btn-toggle1.focus,
.btn-toggle1:focus.active,
.btn-toggle1.focus.active {
  outline: none;
}
.btn-toggle1:before,
.btn-toggle1:after {
  line-height: 1.5rem;
  width: 56px;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle1:before {
  content: 'Good';
  left: -4rem;
}
.btn-toggle1:after {
  content: 'Service';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle1 > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle1.active {
  transition: background-color 0.25s;
}
.btn-toggle1.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle1.active:before {
  opacity: 0.5;
}
.btn-toggle1.active:after {
  opacity: 1;
}
.btn-toggle1.btn-sm:before,
.btn-toggle1.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle1.btn-sm:before {
  text-align: right;
}
.btn-toggle1.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle1.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle1.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle1.btn-xs:before,
.btn-toggle1.btn-xs:after {
  display: none;
}
.btn-toggle1:before,
.btn-toggle1:after {
  color: #6b7381;
}
.btn-toggle1.active {
  background-color: #611787;
}
.inform{
    margin-left: 10px;
}
.m-heading{
        border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}
.label-h{
        margin-top: 7px;
    margin-right: 20px;
}

.footer-para {
    font-size: 14px;
    padding-bottom: 15px;
}

.tooltip-inner7 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner7 p{
    text-align: left;
    font-size: 14px;
}
.tooltip-inner7 {
    max-width: 262px!important;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: -83px;
    left: -41px;
    display:none;
}
.tooltip-inner7::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer7:hover .tooltip-inner7{
  display:block!important;
}
.type{
    display: flex;
    align-items: center;
}
.type span i{
   margin-top: 5px;
   margin-left: 5px;
   color: grey;
}
.type span{
    margin-top: 5px;
}

.tooltip-inner8 h4{
      font-size: 17px;
    text-align: left;
}
.tooltip-inner8 p{
    text-align: left;
    font-size: 14px;
}
.tooltip-inner8 {
    max-width: 262px!important;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #808080;
    border-radius: 0.25rem;
    padding: 17px;
    position:absolute;
    top: 0px;
    left: -47px;
    display:none;
}
.tooltip-inner8::before{
  content:'';
  position:absolute;
  height:10px;
  width:10px;
  transform: rotate(45deg);
  background:grey;
  bottom:-5px;
}
.tooltiplayer8:hover .tooltip-inner8{
  display:block!important;
}

.active-items select{
    border: none;   
}
.active-bx{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add-new{
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 1px 9px;
    margin-left: 10px;
    color: white;
    border: 1px solid #f5f5f5;
    background: #611787;
}
.add-new i{
    margin-right: 5px;
    font-size: 17px;
    color: white;
}
.active-items {
    display: flex;
    align-items: center;
}
.child-list li{
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 7px;
    margin-top: 5px;
}

.child-list input{
    margin-right: 10px;
}
ul.child-list {
    margin-top: 20px;
}
.overviewbx{
    display: flex;
    padding-top: 15px;
}
ul.item-list li {
    color: grey;
    margin: 10px 0px;
    font-size: 15px;
}
.sub-item-bx{
    margin-left: 15px;
}
ul.sub-item-list li {
    margin: 10px 0px;
    font-size: 15px;
}
.h4{
    font-size: 17px;
    margin-top: 10px;
}
.tab-navbax {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    /* background: red; */
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
}

a.edit-pen {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
}

a.edit-more {
    padding: 5px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    flex-flow: column;
    /* display: flex; */
    color: black;
    margin-right: 10px;
}
.close-icon{
    color: black;
    margin-right: 10px;
}

div#exTab1 {
    padding-top: 20px;
}

.filter-btn{
        border: none;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
}
.filterbx {
    display: flex;
    margin-top: 20px;
}
.output-para{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.name-check{
    margin-right: 10px;
}
.tablebx{
    margin-top: 22px;
}
#sidebar-container{
    background: #343a40;
    width: 275px;
    height: 100vh;
    overflow: scroll;
}
#submenu4{
    /* text-align: center; */
    padding-left: 44px;
    /* border: none; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
::-webkit-scrollbar {max-height: 10%; height: 10%!important;}

.right-img img{
    width: 385px;
}

/*Office tab css start from here*/

.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column;
  padding-left: 14px;
}

.tabs-left>li {
  font-weight: 500;
  float: none;
  margin: 10px 0px;
  font-weight: 5000;
  font-size: 17px;
}
.square li{
    list-style: square;
    margin: 8px 0px;
}
.edit-name i{
    height: 37px;
    width: 37px;
    background: #f1f3f7;
    padding: 10px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 23px
}
button.update-btn {
    border: none;
    padding: 3px 9px;
    color: white;
    display: table;
    background: #611787;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}
.pd-left{padding-left: 0;}
.right-tab li a{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.right-tab{
    padding-top: 30px;
    padding-left: 30px
}
.right-tab li {
    margin: 10px 0px;
}

.card.card-body.square {
    padding-top: 0;
}
.border-left{border: 1px solid #ddd;}
.update-bx{
    display: flex;
    justify-content:space-between;
}
.designation-list{
    padding-left: 20px;
}

.designation-list li{
    list-style: square;
}
.cdn{
        padding: 2px 11px;
    /* background: #611787; */
    border: 1px solid #611787;
    border-radius: 5px;
    list-style: none !important;
}

.create-designation a{
    display: flex;
    align-items: center;
}
.create-designation a i{
    margin-right: 5px;
    font-size: 17px;
}
.mleft{
    margin-left: 5px;
}
.mleft1{
    margin-left:22px;
}
.radibox{
    padding-bottom: 20px;
}

.edit-btn1:hover {
    color: #611787;
    background: white;
}


.subpport-bx a i{
    color: white;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 5px;
}
.subpport-bx a{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.number-input{
    padding-left: 0;
}
.save-btn{
    padding: 6px 20px;
    font-size: 14px;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    outline: none;

    display: table;
    background: #611787;
    border: 1px solid #611787 !important;
    /*clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);*/
    box-shadow: inset 0 0 0 1px white;
}

.close-btn{
    padding: 6px 14px;
    font-size: 14px;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    outline: none;
    display: table;
    background: #545b62;
    border: 1px solid #611787 !important;
    /*clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);*/
    box-shadow: inset 0 0 0 1px white;
    margin-left: 10px;
}

.save-btnbx{
    padding-top: 30px;
    display: flex;
}

.verify-btn {
    padding: 3px 6px;
    font-size: 13px;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    outline: none;
    display: table;
    background: #611787;
    border: 1px solid #611787 !important;
    /* clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0); */
    box-shadow: inset 0 0 0 1px white;
}


.crop-btn {
    padding: 4px 23px;
    margin-top: 10px;
    width: 100px;
    margin-left: 20px;
    font-size: 14px;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    display: table;
    /* margin: auto; */
    background: #611787;
    border: 1px solid #611787 !important;
    /* clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0); */
    box-shadow: inset 0 0 0 1px white;
}
.more{
    display: flex;
    align-items: center;
}
.addressbx h2{
    font-size: 17px;
    font-weight: 600;
    color: #00000094
}

.addressbx {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 7px;
}


ul.social-media-bx {
}

ul.social-media-bx li {
    margin: 10px 14px;
}

ul.social-media-bx li a {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #f5f5f5;
    justify-content: center;
    color: black;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 10px;
    transition: .7s;
}
ul.social-media-bx li a:hover {
    background: #611787;
    color: white;
}
.socialbx{
    display: flex;justify-content:center;align-items: center;
}
.main-section{
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-input input{
  margin-top: 13px;
}
.edit-pen1 i{
  margin-top: 18px;
}

.done-bx a i {
    height: 30px;
    align-items: center;
    display: flex;
    width: 30px;
    color: #615b5b;
    background: #bbbec4bf;
    border-radius: 50px;
    padding: 7px;
}
 #organaization-address .modal-dialog {
    max-width: 40%!important;
}

.main-section1 {
    /* height: 94vh; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset-para {
    margin-bottom: 15px;
    margin-top: 11px;
}
.forgot {
    font-size: 20px;
}
.forgot-logo img {
    width: 149px;
    padding-bottom: 30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.forgotbx {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    padding: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    justify-content: center;
    width: 100%;
    align-items: center;
}